<%- include('partials/header') %>
    <div class="container my-4">
        <% if (success) { %>
            <div class="alert alert-success text-center" role="alert">
                Agendamento registrado com sucesso!
            </div>
            <% } %>
                <div class="row">
                    <% if (escolas && escolas.length) { %>
                        <% escolas.forEach(escola=> { %>
                            <div class="col-md-4 col-lg-3 mb-4">
                                <div class="card h-100 text-center">
                                    <img src="/img/<%= escola.slug %>.png" class="card-img-top p-3"
                                        alt="<%= escola.nome %>"
                                        onerror="this.onerror=null; this.src='/img/default_school.png';" />
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= escola.nome %>
                                        </h5>
                                    </div>
                                    <a href="/agendar/<%= escola.id %>" class="stretched-link"
                                        title="Agendar visita"></a>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>Não há escolas cadastradas.</p>
                                    <% } %>
                </div>
    </div>
    <%- include('partials/footer') %>